@import "@fortawesome/fontawesome-free/css/all.min.css";

iframe {
    background: #ccc;
    border: 1px solid #ccc;
    height: 10rem;
    width: 100%;
    border-radius: .5rem;
    filter: invert(1);
}